@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
  
  html{
    font-size: 62.5%;
  }
  
  body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 90vh;
    background-color: #cdb4db;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Roboto Mono";
    font-size: 3.5rem;
    box-sizing: border-box;
    margin-top: 50px;
  }
  
  header{
    text-align:center; 
    color: white;
    font-size: 3rem;
    border-style: solid;
    border-radius: 10px;
    background-color: #ffc8dd;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  h1{
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .restart-button{
    color: black;
    background-color: #ffafcc;
    font-family: "Courier";
    border-radius: 60px;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .restart-button:hover{
    cursor: pointer;
    background-color: #bde9fe;
  }
  
  .score-board{
    margin: 4% 2% 2%;
    text-align: center;
    color: white;
    background-color: #6f94b7;
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    font-size: 4rem;
    padding: 10px 10px;
    position: relative
  }

  .elecciones{
    text-align: justify;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
  }


.elecciones button{
    background-color: transparent;
    border: transparent;

    
  }

